<script type="text/html" id="table">
	<div class="controls"></div>
	<div class="table"></div>
</script>

<script type="text/html" id="table-controls">
	<button id="add" class="btn btn-success" data-toggle="modal">
	    <i class="glyphicon glyphicon-plus"></i> Добавить
	</button>
	<button id="remove" class="btn btn-danger">
	    <i class="glyphicon glyphicon-remove"></i> Удалить
	</button>
    <button id="export" class="btn btn-primary">
	    <i class="glyphicon glyphicon-export"></i> Экспорт
	</button>    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление клиента</h4>
            </div>
            <div class="modal-body">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name"/>
                <label for="surname">Surname:</label>
                <input type="text" class="form-control" id="surname"/>
                <label for="birthdate">Birthdate:</label>
                <input type="date" class="form-control" id="birthdate"/>
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age"/>
                <label for="photo">Photo:</label>
                <input type="file" class="form-control" id="photo"/>
            </div>
            <div class="modal-footer">
                <button id="cancel-client" type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button id="save-client" type="button" class="btn btn-primary">Сохранить</button>
            </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="clientTable">
	<table id="contentTable"
            data-toggle="table"
            data-toolbar=".controls"
            data-search="true"
            data-show-refresh="true"
            data-show-columns="true"
            data-minimum-count-columns="1"
            data-id-field="id"
            data-page-list="[10, 25, 50, 100, ALL]"
            data-show-footer="false"
            data-side-pagination="server"
            data-url="/clients/clients/"
            data-query-params="formatQueryParams">
	</table>
</script>