<script type="text/html" id="choice">
      <figure>
      	<img class="choice-img" src="<%= client_photo %>" style="height:150px" />
            <figcaption style="text-align: center">
                  <span class="text-primary"><%= value %></span>
                  <i id="up" class="glyphicon glyphicon-arrow-up"></i>
                  <i id="down" class="glyphicon glyphicon-arrow-down"></i>
            </figcaption>
      </figure>
</script>