.vote-view {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
}

.item-vote-view{
	margin: 10px;
}

.item-vote-view .glyphicon{
	cursor: pointer;
}

.item-vote-view .glyphicon:hover{
	color: #337ab7;
}