<!DOCTYPE html>
{% load staticfiles %}   
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.css' %}"/>
    <script src="{% static 'requirejs/require.js' %}"></script>
    <script src="{% static 'init.js' %}"></script>
    {% block title %}
        <title>
            Main page
        </title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
</body>
</html>