{% extends "base.html" %}
{% block title %}
    {% load staticfiles %}   
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/clients.css' %}"/>
{% endblock %}
{% block content %}
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" id="client-table"><a href="#clients" role="tab" data-toggle="tab">Клиенты</a></li>
            <li role="presentation" id="voting-view"><a href="#voting" role="tab" data-toggle="tab">Голосование</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="clients"></div>
            <div role="tabpanel" class="tab-pane" id="voting"></div>
        </div>
    </div>
{% endblock %}
